{% extends 'base.html' %}
<!-- {% load static %} -->
{% block content %}
<div class="container mt-5 body-div mb-5">
    <div class="card shadow border-0 w-50 m-auto">
        {% for message in messages %}
        <div class="container text-center alert-success p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="True">&times;</span>
                </button>
                {{ message }}
            </div>
        </div>
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            <h2 class="pt-5 pb-3 text-center border-bottom">Registration</h2>
            {% for field in form %}
            <div class="row ml-auto pl-5">
                <div class="col-12">
                    <p>
                        {{ field.label_tag }}
                    <div class="col-12 w-100 ">
                        {{ field }}
                        
                        {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                    </div>

                    {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    </p>
                </div>
            </div>

            {% endfor %}
            <div class="row submit-div text-center pb-5">
                <div class="col-12 ">
                    <button type="submit" class="bg-primary text-light px-2 py-1 ">Create Account</button>
                </div>
            </div>

        </form>
    </div>

</div>


{% endblock %}