{% extends "base.html" %}
{% block content %}
<div class="container body-div mt-5 pt-5">
    <div class="row mt-5 w-75 m-auto border shadow">
        <div class="col-12 col-md-7 pt-5 pb-5 m-auto ">
            <div class="row heading_div pb-4 text-center">
                <div class="col-12">
                    <h3>Add Product</h3>
                </div>
            </div>
            <form method="POST" enctype=multipart/form-data>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="row">
                    <div class="col-12 text-center">
                        <input type="submit" value="add" class="py-1 px-2">
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}