{% extends "base.html" %}
{% block content %}
{% load extra %}

<div class="container full-div">
    <div class="row ">
        <div class="col-12">
            {% for message in messages %}
            <div class="container text-center alert-success p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="True">&times;</span>
                    </button>
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h3>
                Order Details</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="table-div col-12 pb-5">
                <table style="width:100% " class="css-serial border shadow-lg">
            
            
                    <tr>
                        <th>No</th>
                        <th>Order ID</th>
                        <th>Room Number</th>
            
                        <th>Status</th>
                        <th>Total Price</th>
            
                        {% for orderitems in order_details%}
                    <tr>
            
            
                        <td>{{forloop.counter}}</td>
                        <td>{{orderitems.id}}</td>
                        {% with lineitem_details|get_value:orderitems.id as lineitem %}
            
                        <td>{{lineitem.room_numb.room_number}}</td>
                        {% endwith %}
                        <td>{{orderitems.status}}</td>
                        <td>{{orderitems.order_total}}</td>
            
            
                    </tr>
                    {% endfor %}
            
            
            
                </table>
            </div>

        </div>
       

    </div>

</div>
{% include 'footer.html' %}
{% endblock %}